@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --electric-blue: #38AAEB;
    --smoke-grey: #919090d6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

#logo {
    width: 300px;
}

.item_wrapper {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 4rem;   
}

.last{
    margin-right: 2rem;
}

.main {
    display: flex;
    margin-top: 15rem;
}

.about-me {
    margin-left: 10rem;
}

#about-me-img{
    float: right;
    width: 600px;
    margin-left: 10rem;
    margin-right: 2rem;
}




/* Projects Section*/

#projects {
    margin-top: 30rem;
    height: 400px;
    display: flex;
}

.project-items {
    transform: translate(0, -5px);
    transition: 0.2s ease;
}

.card1, .card2, .card3 {
    text-align: center;
}


.dad-jokes-img, .day-trip-img, .rock-paper-img {
    width: 300px;
}



/* Skills Section*/

#skills {
    margin-top: 20rem;
    height: 500px;
    /* background-color: #38AAEB; */
}

.skills_header {
    text-align: center;
}

.skills_info {
    margin-top: 8rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.skills_icons {
    display: grid;
    grid-template-columns: 100px 50px 100px;
    /* grid-template-rows: 80px auto 80px; */
    row-gap: 15px;
    margin-left: 5rem;
}

.skills_icons i {
   font-size: 30px; 
}



/* Contact Me Section*/

#contact {
    margin-top: 20rem;
    height: 500px;
    text-align: center;
    border-radius: 20px;

}

.contact_header{
    text-align: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input[type=email] {
    margin-top: 10px;
}

button[type=submit] {
    margin-top: 10px;
}

button[type=submit]:hover {
background-color: #238edfee;
color: white;
margin-top: 10px;
}


.closing {
    text-align: center;
    margin-top: 5rem;
}

.closing > a:hover {
    color: #5c5e5d;
    text-decoration: none;
}
