@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --electric-blue: #38AAEB;
    --smoke-grey: #919090d6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

#logo {
    width: 300px;
}

.item_wrapper {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 4rem;   
}

.last{
    margin-right: 2rem;
}

.main {
    display: flex;
    margin-top: 15rem;
}

.about-me {
    margin-left: 10rem;
}

#about-me-img{
    float: right;
    width: 600px;
    margin-left: 10rem;
    margin-right: 2rem;
}

#projects {
    margin-top: 30rem;
    height: 600px;
    display: flex;
}

.card1, .card2, .card3 {
    text-align: center;
}


.dad-jokes-img, .day-trip-img {
    width: 300px;
}

#skills {
    margin-top: 20rem;
    height: 600px;
    background-color: #38AAEB;
}

.skills-header > h3 {
    text-align: center;
}

#contact {
    margin-top: 20rem;
    height: 600px;
    background-color: crimson;
}


.project-items {
    transform: translate(0, -5px);
    transition: 0.2s ease;
}

