@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --electric-blue: #38AAEB;
    --smoke-grey: #919090d6;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

.item_wrapper {
    display: flex;
    align-items: center;    
}

.logo {
    width: 300px;
}

.main {
    display: flex;
    margin-top: 10rem;
}

.about-me {
    margin-left: 10rem;
}

#about-me-img{
    float: right;
    width: 600px;
    margin-left: 10rem;
    margin-right: 2rem;
}

#projects {
    margin-top: 20rem;
    height: 600px;
    background-color: black;
}

#skills {
    margin-top: 20rem;
    height: 600px;
    background-color: #38AAEB;
}

#contact {
    margin-top: 20rem;
    height: 600px;
    background-color: crimson;
}


/* .nav-items {
    transition: 0.2s ease;
    transform: translate(0, -5px);
} */

